[submodule "packages/ahg"]
	path = packages/ahg
	url = https://bitbucket.org/agriggio/ahg

[submodule "packages/clojure-mode"]
	path = packages/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git

[submodule "packages/egg"]
	path = packages/egg
	url = https://github.com/byplayer/egg.git

[submodule "packages/egit"]
	path = packages/egit
	url = https://github.com/jimhourihan/egit.git

[submodule "packages/emacs-juick-el"]
	path = packages/emacs-juick-el
	url = https://github.com/mad/emacs-juick-el.git

[submodule "packages/emacs-soap-client"]
	path = packages/emacs-soap-client
	url = https://code.google.com/p/emacs-soap-client/

[submodule "packages/nyan-mode"]
	path = packages/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git

[submodule "packages/ublog"]
	path = packages/ublog
	url = https://github.com/artagnon/ublog.el.git

[submodule "packages/heroku"]
	path = packages/heroku
	url = https://github.com/technomancy/heroku.el.git

[submodule "packages/cc-mode"]
	path = packages/cc-mode
	url = https://github.com/emacsmirror/cc-mode.git

[submodule "packages/haskell-mode"]
	path = packages/haskell-mode
	url = https://github.com/haskell/haskell-mode.git

[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git

[submodule "packages/linum-relative"]
	path = packages/linum-relative
	url = https://github.com/coldnew/linum-relative.git

[submodule "packages/zenburn-emacs"]
	path = packages/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git

[submodule "packages/emacs-ide"]
	path = packages/emacs-ide
	url = https://github.com/emacsmirror/emacs-ide.git

[submodule "packages/haml-mode"]
	path = packages/haml-mode
	url = https://github.com/nex3/haml-mode.git

[submodule "packages/multiple-cursors.el"]
	path = packages/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el.git

[submodule "packages/pymacs"]
	path = packages/pymacs
	url = https://github.com/pinard/Pymacs.git

[submodule "packages/mmm-mode"]
        path = packages/mmm-mode
        url = https://github.com/purcell/mmm-mode.git

[submodule "packages/perspective"]
        path = packages/perspective
        url = https://github.com/nex3/perspective-el.git
[submodule "packages/mark-multiple"]
	path = packages/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "packages/js2-refactor"]
	path = packages/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
[submodule "packages/markdown-mode"]
	path = packages/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "packages/twilight-emacs"]
	path = packages/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "sml-mode"]
	path = packages/sml-mode
	url = git://github.com/emacsmirror/sml-mode.git
[submodule "packages/geiser"]
	path = packages/geiser
	url = git://github.com/jaor/geiser.git
[submodule "packages/scala-mode2"]
	path = packages/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "packages/cperl-mode"]
	path = packages/cperl-mode
	url = git://github.com/jrockway/cperl-mode.git
[submodule "packages/find-file-in-project"]
	path = packages/find-file-in-project
	url = git://github.com/technomancy/find-file-in-project.git
[submodule "packages/auto-complete"]
	path = packages/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "packages/Devel-PerlySense"]
	path = packages/Devel-PerlySense
	url = git://github.com/jplindstrom/p5-Devel-PerlySense.git
[submodule "packages/emacs-pde"]
	path = packages/emacs-pde
	url = git://github.com/wenbinye/emacs-pde.git
[submodule "packages/emacs-flymake"]
	path = packages/emacs-flymake
	url = git://github.com/illusori/emacs-flymake.git
[submodule "packages/emacs-flymake-perlcritic"]
	path = packages/emacs-flymake-perlcritic
	url = git://github.com/illusori/emacs-flymake-perlcritic.git
[submodule "packages/popup"]
	path = packages/popup
	url = git://github.com/auto-complete/popup-el.git
[submodule "packages/paredit"]
	path = packages/paredit
	url = git://github.com/emacsmirror/paredit.git
[submodule "packages/emacs-edbi"]
	path = packages/emacs-edbi
	url = git://github.com/kiwanami/emacs-edbi.git
[submodule "packages/emacs-deferred"]
	path = packages/emacs-deferred
	url = git://github.com/kiwanami/emacs-deferred.git
[submodule "packages/emacs-epc"]
	path = packages/emacs-epc
	url = git://github.com/kiwanami/emacs-epc.git
[submodule "packages/emacs-ctable"]
	path = packages/emacs-ctable
	url = git://github.com/kiwanami/emacs-ctable.git
[submodule "packages/emacs-window-manager"]
	path = packages/emacs-window-manager
	url = git://github.com/kiwanami/emacs-window-manager.git
[submodule "packages/emacs-window-layout"]
	path = packages/emacs-window-layout
	url = git://github.com/kiwanami/emacs-window-layout.git
[submodule "packages/highlight-symbol"]
	path = packages/highlight-symbol
	url = git://github.com/nschum/highlight-symbol.el.git
[submodule "packages/rainbow-delimiters"]
	path = packages/rainbow-delimiters
	url = git@github.com:jlr/rainbow-delimiters.git
[submodule "packages/twittering-mode"]
	path = packages/twittering-mode
	url = git@github.com:hayamiz/twittering-mode.git
[submodule "packages/projectile"]
	path = packages/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "packages/s"]
	path = packages/s
	url = git@github.com:magnars/s.el.git
[submodule "packages/dash"]
	path = packages/dash
	url = git@github.com:magnars/dash.el.git
[submodule "packages/grizzl"]
	path = packages/grizzl
	url = git@github.com:d11wtq/grizzl.git
[submodule "packages/company-mode"]
	path = packages/company-mode
	url = git@github.com:company-mode/company-mode.git
[submodule "packages/magit"]
	path = packages/magit
	url = git@github.com:magit/magit.git
[submodule "packages/git-gutter-plus"]
	path = packages/git-gutter-plus
	url = git@github.com:nonsequitur/git-gutter-plus.git
[submodule "packages/git-gutter-fringe-plus"]
	path = packages/git-gutter-fringe-plus
	url = git@github.com:nonsequitur/git-gutter-fringe-plus.git
[submodule "packages/fringe-helper"]
	path = packages/fringe-helper
	url = git@github.com:nschum/fringe-helper.el.git
[submodule "packages/cider"]
	path = packages/cider
	url = git@github.com:clojure-emacs/cider.git
[submodule "packages/ac-nrepl"]
	path = packages/ac-nrepl
	url = git@github.com:clojure-emacs/ac-nrepl.git
[submodule "packages/pkg-info"]
	path = packages/pkg-info
	url = git@github.com:lunaryorn/pkg-info.el.git
[submodule "packages/epl"]
	path = packages/epl
	url = git@github.com:cask/epl.git
[submodule "packages/git-modes"]
	path = packages/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "packages/go-mode"]
	path = packages/go-mode
	url = git@github.com:dominikh/go-mode.el.git
[submodule "packages/emacs-async"]
	path = packages/emacs-async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "packages/helm"]
	path = packages/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "packages/tap-mode"]
	path = packages/tap-mode
	url = git@github.com:renormalist/emacs-tap-mode.git
[submodule "packages/f"]
	path = packages/f
	url = git@github.com:rejeep/f.el.git
[submodule "packages/clj-refactor"]
	path = packages/clj-refactor
	url = git@github.com:clojure-emacs/clj-refactor.el.git
[submodule "packages/rust-mode"]
	path = packages/rust-mode
	url = git@github.com:rust-lang/rust-mode.git
